.sec4 .headling {
  padding: var(--gap-small) 0;
}
.headling p {
  padding: var(--gap-ss) 0;
}
.sec4 .listCon .imgCon {
  position: relative;
  padding-top: 120%;
  overflow: hidden;
  border-radius: var(--gap-ss);
}
.sec4 .listCon .imgCon img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec4 .listCon .desc {
  color: var(--gray3);
  text-align: center;
}
.sec4 .listCon .cateName {
  font-weight: 800;
  color: var(--gray1);
}
.sec4 .listCon .cateDesc,
.sec4 .listCon .more {
  opacity: 0;
  transition: 0.3s;
}

.sec4 .swiper-slide.swiper-slide-active {
  padding-top: var(--gap-big);
}
.sec4 .swiper-slide.swiper-slide-active .cateDesc,
.sec4 .swiper-slide.swiper-slide-active .more {
  opacity: 1;
}
